:root {
  --bs-font-sans-serif: "DM Sans", sans-serif;
  }

  @media (min-width: 576px) {
  .card {
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0px 10px 20px;
    border-radius: 10px;
  }

  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
  }